.col-fixed-160 {
  /*height:0px;*/
  /*padding-bottom:100%;*/
  /*margin-bottom:-90%;*/
  width:160px;
  height:100%;
  background:#1a1a1a;
  display:inline;
  position:fixed;
  z-index: 1;
}
.col-offset-160 {
  padding-left:160px;
  z-index:0;

}
.main{
  padding-top: 20px;
  /*color: #737373;*/
  background-color: #9cb3b8;
  position: fixed;
  height:100%;
  width:100%;
}
.col-offset-120{
  padding-left: 120px;
}
#conn-left{
  float:left;
}
#conn-right{
  float:right;
}

